/*-------------------------------

	header

-------------------------------*/
.header {
	&__fixed {
		padding: 20px;
	}
	> nav {
		> ul {
			> li {
                margin: 10px 0;
				> a {
					font-size: 1.5rem;
				}
			}
		}
	}
}
