/******************************************************************

recruit

******************************************************************/
.recruit {
	&__message {
		&--ja {
			font-size: 2.8rem;
		}
	}
	&__bg-image {
		margin-bottom: 50px;
		height: 500px;
	}
	&__contents {
		padding: 50px;
	}
	&__table {
		> tbody {
			> tr {
				&:last-child {
					> td {
						padding-right: 30px;
					}
				}
				> th {
					padding: 30px;
					width: 50%;
				}
				> td {
					padding-right: 30px;
				}
			}
		}
	}
}
