/*-------------------------------

	contact-common

-------------------------------*/
.contact-common {
	padding: 60px 0;
	> h2 {
		margin-bottom: 45px;
	}
	> p {
		margin: 0 auto 28px;
		width: 68%;
		font-size: 1.4rem;
	}
}
