/*-------------------------------

	contact-common

-------------------------------*/
.contact-common {
	padding: 80px 0;
	text-align: center;
	background-color: #F7F7F7;
	> h2 {
		margin-bottom: 50px;
	}
	> p {
		margin-bottom: 30px;
		font-size: 1.5rem;
		color: #333333;
	}
}
