/******************************************************************

company

******************************************************************/
.company {
	padding-top: 0;
	&__concept {
		> span {
			> br {
				display: block;
			}
		}
	}
	&__text {
		> span {
			display: block;
		}
	}
}
/******************************************************************

ceo

******************************************************************/
.ceo {
	&__inner {
		padding: 0 20px;
		width: 100%;
	}
	&__image {
		align-self: flex-start;
		margin-right: 0;
		width: 47%;
	}
	&__message {
		width: 50%;
	}
}
/******************************************************************

profile

******************************************************************/
.profile {
	padding: 110px 0 80px;
	&__inner {
		padding: 0 20px;
		width: 100%;
	}
	&__table {
		> tbody {
			> tr {
				> th {
					padding: 30px;
					width: 50%;
				}
			}
		}
	}
	&__map {
		height: 350px;
	}
}
